*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Poppins", sans-serif;
}

/* Nav-bar css starts */
nav{
    position: fixed;
    width: 100%;
    z-index: 5;
}
.nav-bar{
    height: 70px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

nav h1{
    font-size: 50px;
    color: white;
}

nav ul{
    list-style-type: none;
}

nav a{
    text-decoration: none;
    color: white;
    padding: 10px;
    font-size: 20px;
}
/* nav-bar css ends */

/* Hero section css starts */
.hero-section{
    background-image: url(hero.webp);
    background-size: cover;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.hero-section h1{
    font-size: 55px;
}

.hero-section p{
    font-style: italic;
    font-size: 20px;
    width: 30%;
    text-align: center;
    margin-bottom: 10px;
}

.hero-section::before{
    content: '';
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: block;
    position: absolute;
    top: 0;
}

.hero-section>*{
    /* keeo this z-index more than navbar to avoid issue while scrolling. */
    z-index: 3;
}
/* Hero section css ends */

/* Jobs Header css starts */
.header-1 p{
    font-size: 15px;
}

.boxes{
    text-align: center;
}

.boxes i{
    border-radius: 50%;
    padding: 15px;
    background-color: green;
}

.boxes h3{
    margin-bottom: 10px;
}

.post-a-job{
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;
}

.post-a-job>div>*{
    margin-bottom: 10px;
}

.post-a-job>div>p{
    line-height: 1.5;
}
/* Jobs Header css ends */

/* Jobs for you css starts */
.analytics>img{
    width: 24%;
    margin: 5px;
}

.analytics{
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

/* pseudo class ==> jo bhi css h wo kisi element ke state pe apply ho rha h. hover is a state. So, we are applying the style on a state */
.analytics>img:hover{
    opacity: 0.7;
    cursor: pointer;
}
/* Jobs for you css ends */

/* our teams css starts */
.teams>div{
    flex-direction: column;
    text-align: center;
    width: 30%;
    margin: 10px;   
}

.teams>div>img{
    border-radius: 50%;
}

.teams{
    justify-content: center;
}

.teams>div>*{
    margin-bottom: 10px;
}
/* our team css ends */

/* success stories css starts */
.left{
    width: 60%;
    background-color: rgb(244,244,244);
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 100px;
}

.left>h2{
    font-size: 30px;
}

.left>p{
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.right{
    width: 40%;
}

.right img{
    width: 100%;
    height: 80%;
    position: relative;
    top: 10%;
    right: 10%;
}

.row{
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 50px;
}

.reverse{
    flex-direction: row-reverse;
}

.reverse img{
    left: 10%;
}
/* success stories css ends */

/* contact us css starts */
.contact>div{
    width: 50%;
}

.contact img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* this is for image to be covered properly without any distractions (bina fate) inside its parent. */
}

.contact form{
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
    padding: 50px;
}

.contact form>input{
    padding: 10px;
    border-radius: 5px;    
    border: 2px solid transparent;
}

.contact form>*{
    margin-bottom: 10px;
}

.contact form a{
    text-align: center;
    margin-top: 10px;
}

.contact form>input:focus{
    border: 2px solid #28a745;
    outline: none;
}
/* contact us css ends */

/* footer css starts */
.footer{
    height: 150px;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.footer>div{
    justify-content: center;
    align-items: center;
}

.footer i{
    margin: 10px;
}